# LIST

In [9]:
prices = [238.11, 237.81, 238.91]
prices.append(76.0)
print(prices)

[238.11, 237.81, 238.91, 76.0]

In [28]:
prices = [238.11, 237.81, 238.91,76.0]
prices.sort()
print(prices)

[76.0, 237.81, 238.11, 238.91]

In [13]:
prices.pop()
print(prices)

[76.0, 237.81, 238.11]

In [22]:
x=prices.count(76.0)
print(x)

1

In [24]:
prices.remove(238.11)
print(prices)

[76.0, 237.81]

# DICTIONARIES

In [29]:
fees = {'B,Tech': 400000, 'BA':2500, 'B.COM':50000 , 'MECH':45000} 
fees.items()
print(fees)

{'B,Tech': 400000, 'BA': 2500, 'B.COM': 50000, 'MECH': 45000}

In [32]:
fees.get('BA')#to get the value of BA

2500

In [33]:
fees.keys()# keys of the fees

dict_keys(['B,Tech', 'BA', 'B.COM', 'MECH'])

In [34]:
f=fees.setdefault('CIVIL')
print(fees)

{'B,Tech': 400000, 'BA': 2500, 'B.COM': 50000, 'MECH': 45000, 'CIVIL': None}

In [35]:
fees.pop("BA")#to pop the value

2500

In [36]:
fees

{'B,Tech': 400000, 'B.COM': 50000, 'MECH': 45000, 'CIVIL': None}

# TUPLES

In [37]:
tup = ('physics', 'chemistry', 1997, 2000) #creating a tuple
print(tup)

('physics', 'chemistry', 1997, 2000)

In [39]:
tup.count("physics")

1

In [40]:
tup.index(1997)

2

In [49]:
tup1 = ('maths','english',1998,2001)#creating new tuple and 
#printing both the tuples
print(tup,"\n",tup1)

('physics', 'chemistry', 1997, 2000)
 ('maths', 'english', 1998, 2001)

In [52]:
print(len(tup))#items in the tuple

4

# SETS

In [72]:
thisset = {"apple", "banana", "cherry","mango"}
print(thisset)

{'cherry', 'banana', 'apple', 'mango'}

In [73]:
thisset.add("orange")

In [74]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'orange'}

In [75]:
thisset.remove("cherry")

In [76]:
thisset

{'apple', 'banana', 'mango', 'orange'}

In [82]:
thisset.clear()

In [83]:
thisset

set()

In [84]:
thisset.add("grapes")

In [85]:
thisset

{'grapes'}

# STRING

In [86]:
p="Hello!"
print(p.capitalize())

Hello!

In [87]:
print(p.casefold())

hello!

In [91]:
print(p.upper())

HELLO!

In [92]:
print(p.replace("l","p"))

Heppo!

In [95]:
print(p.endswith("!"))

True